var AppConfig = {

    //connection details for database
    db: {
        client: 'pg',
        connection: {
            host: '127.0.0.1',
            user: 'YOUR_USER',
            password: 'YOUR_PASSWORD',
            database: 'YOUR_DATABASE',
            charset: 'utf8'
        }
    },

    //when true returns internal error description to client app
    enableErrorDescription: true

};

module.exports = AppConfig;